body {
    background-color: lightblue;
  }
.logo {
width:400px;
height:40px;
background-color: aqua;
}
#back{
  width: auto;
  height: 299px;
  color: rgb(24, 202, 143);
  border: 5px;
  border-color: black;
}
h1{
  color: blue;
}